@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sacramento&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/*----------------Estilos Base------------------*/
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
.container{
    width: 100%;
    margin: auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    width: 100%;
}

/*----------------Estilos Header------------------*/

.yellowtail-regular {
	font-family: "Yellowtail", cursive;
	font-weight: 400;
	font-style: normal;
  }
  
.main-header{
    width: 100%;
}
.logo{
    font-size: 1.9em;
    color: rgb(236, 86, 119);
    padding: 10px;
    font-family: 'Yellowtail', cursive;
        
}
.main-header__contactInfo__phone{
    background:rgb(236, 86, 119);
    color: #fff;
    padding: 10px;
    margin: 0;
}

.main-header__contactInfo__addres{
    padding: 10px;
    margin: 0px;
}
.main-header [class*="icon-"]:before{
    position: relative;
    top:2px;
    right: 3px;
}
/*----------------Estilos Menu------------------*/
.main_nav{
    width: 100%;
    position:relative;
    z-index: 2000;  
    padding: 10px;
}

.icon-menu{
    display: block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor:pointer;
    font-size: 1.5em;
    
}

.social-icon{
    display: flex;
    justify-content: space-between;
    
}

.social-icon [class*="icon-"]{
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
}

.social-icon__link{
    text-decoration: none;
}
.menu{
    
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.85);
    padding:0px;
    margin:0px;
    z-index: 2000px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    height: 0;
    overflow: hidden;
	transition: height .3s linear;
}

.menu__link{
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    
}
.menu__link:hover{
     background-color: rgb(236, 86, 119);
}
.menu__link--select{
    background-color: rgb(236, 86, 119);
    
}
.mostrar{
    height: 210px;
}
/*----------------Estilos Banner------------------*/

.banner{
    margin-top:-52px;
    position: relative;
}
.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    top: 0;
}
.banner__img{
    width: 100%;
    height: 400px;
    object-fit: cover
}
.banner__content {
    width: 70%;
    color: white;
    text-align:center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight:bold;
	font-family: "Lora" , serif;
    
}

/*----------------Estilos Principales------------------*/
.group--color .container{
	background-color: rgb(236, 86, 119);
	padding: 10px;
	text-align: center;
	
}
.main__title{
	margin: 15px 0;
	font-size: 2.8em;
	font-family: 'Pacifico',cursive;
}
.main_txt{
	font-family: 'Lora', serif;
	font-style: oblique;
	text-align: left;
	font-size: 1.5em;
	
}
.main_txt2{
	padding-left: 100px;
	padding-right: 100px;
}
.column__title{
	font-size: 1.3em;
}
.main__about_description .column:nth-child(2){
	padding: 10px;
}
.btn{
	
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	background: rgb(236, 86, 119);
	color: #ffffff;
	padding:10px;
	margin: 10px auto;
	
}
.group__title{
	font-family:'Yellowtile', cursive;
	text-align: center;
	font-size: 1.8em;
	margin: 30px;
}
.group__galeria{
	font-family:'Yellowtail', cursive;
	color: white;
	text-align: center;
	font-size: 3.0em;
	margin: 30px;
	background-color: rgb(236, 86, 119);
	padding: 10px;
}

.today-special .column {
	margin-bottom: 30px;
	text-align: center;
	background-color: rgb(226, 188, 196);
}

.today-special__img{
	margin: 0;
	max-width: 350px;
}

.today-special__tittle{
	font-size: 1.3em;
	padding-top: 10px;
	padding-bottom: 20px;
}
.today-special__price{
	font-size: 1.5em;
	color: #DE423a;
	font-weight: bold;
}

/*----------------Estilos Principales------------------*/
.main-footer{
	background: #222;
	color: #fff;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: .8em;
}
.copy{
	text-align: center;
	margin: auto;
	margin-top: 15px;
	
}

.main-footer [class*="icon-"] {
	color: #fff;
	text-decoration: none;
	
	
}
.main-footer [class*="icon-"]:before{
	position: relative;
	top: 3px;
	right: 5px;
}
/*---------------------Form-----------------------*/
.campos{
	font-family: 'Pacifico',cursive; 
	font-size: 30px;
	font-weight: bold;
	max-width: 700px;
	width: 100%;
	background: #eacaee;
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0 0 7px rgba(0,0,0, 0.1);
	position: relative;
}
.formulario{
	justify-content: center;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.formulario .campos{
	margin-top: 30px;
}
.form{
	width: 70%;
	margin-top: 20px;
	margin-right: 100px;
	margin-left: 200px;
}
.form label{
	color: #410649;
}
.campos .form input{
	position: relative;
	height: 40px;
	width: 100%;
	outline: none;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 0 15px;
	font-size: 1.04rem;
	color: #a19e9e;
	font-family: "Advent Pro", sans-serif;
	margin-top: 8px;
}
.campos .mensaje input{
	height: 100px;
	align-content: s;

}
.campos .columna{
	display: flex;
	column-gap: 15px;
}
input, textarea{
	width: 100%;
	padding: 10px;
	outline: none;
	border: 1px solid #ddd;
	color: #a19e9e;
	font-family: "Advent Pro", sans-serif;
	margin-top: 8px;
	border-radius: 6px;
	font-size: 1.04rem;
}
/*----------------Mapa------------------*/
.mapa{
	display: block;
	align-items: center;
	justify-content: center;
	margin-left: 30px;

	margin-top: 75px;
}
.cont2{
	display: flex;
}

/*----------------Estilos Responsivos------------------*/

@media screen and (min-width:480px){
	.logo{
		color: #fff;
		
	}
	.main-header__contactInfo{
		text-align:right;
	}
	.banner{
		margin-top: -145px;
		z-index: -1000;
	}
	.main-header__contactInfo__phone{
		background: none;
	}
	.main-header__contactInfo__addres{
		color: #fff;
	}
	.main_nav{
		background:rgba(0,0,0,0.85);
	}
	.banner__content{
		font-size:1.5em;
	}
	.column--50{
		width: 49%;
	}
	.column--50--25{
		width: 49%;
	}
	.column--33{
		width: 32%;
	}
	
	.main__about_description .column:nth-child(2){
		padding-left: 20px;
		font-size: .9em;
		
	}
	.main__about_description .btn{
		margin: 0;
	}
	.today-special .column {
		border: 5px solid #ddd;
		padding: 5px;
	}
	.today-special__img{
		height: 200px;
		object-fit: cover;
	}
	.main-footer .container--flex{
		align-items: flex-start;
	}
	
	
}
@media screen and (min-width:1024px){
.container{
		width: 1000px
	}
	.logo{
		padding-top: 20px;
		font-size: 2em;
	
		
	}
		
	.main-header__contactInfo__phone,
	.main-header__contactInfo__addres{
		font-size: 1.18em;
		padding-right: 0px;
		
		
		
	}
	
	.main_nav{
    
    	padding: 0px;
	}
	
	.banner__content{
		font-size:2.5em;
	}
	
	.icon-menu{
		display: none;
	}
	
	.menu{
		position: static;
		display: flex;
		height: 60px;
		width: auto;
	}
	
	.menu__link{
   
    	padding: 18px;
      
	}
	.group--color .container{
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 20px
	
	}
	.main__title{
		font-size: 2.5em;
	}
	.main__about_description .column--50:nth-child(2) .column__txt
	{
		line-height: 55px;
		text-align: left;
	}
	.group__title{
		font-size: 2.5em;
	}
	.column--50--25{
		width: 24.5%;
	}
	.today-special__tittle{
	
		font-size: 1.9em;
		
	}
	.today-special__price{
	font-size: 2.2em;
	
	}
}




















